.movies-list {
    margin: auto;
    padding: 15px;
    background-color: gray;
}

.btn-danger {
    height: 40px;
    width: 150px;
    position: right;
}



.btn {
    margin-left: 10px;
}

.card-deck {
    margin-top: 20px;
    margin-left: 50px;
}